In [2]:
import pandas as pd 
import numpy as np
import json

from scipy import stats

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [3]:
data_final_merged = 'Data/final_merged_data.csv.gz'
data_basics = 'Data/title_basics.csv.gz'
data_rating = 'Data/title.ratings.tsv.gz'

In [4]:
df = pd.read_csv(data_final_merged)
db = pd.read_csv(data_basics)
df_rating = pd.read_csv(data_rating)

In [5]:
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.108,1982.0,PG
1,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,Heavy Metal 2000,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.110,159.0,R
2,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.400,42.0,R
3,tt0120630,0.0,/sPAwM8WxMdXNlqeP4F9DMe9LYoY.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.726,4123.0,G
4,tt0120753,0.0,NaN,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.915,254.0,R

In [6]:
db.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [7]:
db_final = db[['tconst','titleType','primaryTitle','startYear','endYear','runtimeMinutes']]
db_final.head()

,tconst,titleType,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,movie,Kate & Leopold,2001,NaN,118
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70
2,tt0069049,movie,The Other Side of the Wind,2018,NaN,122
3,tt0088751,movie,The Naked Monster,2005,NaN,100
4,tt0096056,movie,Crime and Punishment,2002,NaN,126

In [8]:
## create a col with a list of genres
db['genres_split'] = db['genres'].str.split(',')
db

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
82661,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
82662,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
82663,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
82664,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
82665,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [9]:
exploded_genres = db.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
82664,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Action
82664,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Adventure
82664,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Thriller
82665,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
82665,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [10]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
## make new integer genre_id and drop string genres
exploded_genres['genre_id'] = exploded_genres['genres_split'].map(genre_map)
exploded_genres = exploded_genres.drop(columns='genres_split')

In [12]:
title_genres = exploded_genres[['tconst','genre_id']].copy()
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [13]:
genre_lookup = pd.DataFrame({'Genre_Name':genre_map.keys(),
                            'Genre_ID':genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
df.columns

Index(['imdb_id', 'adult', 'backdrop_path', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'certification'],
      dtype='object')

In [15]:
df_rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1910
1  tt0000002            5.8       257
2  tt0000005            6.2      2530
3  tt0000006            5.1       173
4  tt0000007            5.4       789

In [16]:
import sys
## Set the dataframe index and use index=True 
#db_final.set_index('tconst').to_sql('title_basics',engine,index=True)
#title_genres.set_index('tconst').to_sql('title_genres',engine,index=True)
#genre_lookup.set_index('Genre_ID').to_sql('genres',engine,index=True)
#df.set_index('imdb_id').to_sql('tmdb_data',engine,index=True)
#df_rating.set_index('tconst').to_sql('title_ratings',engine,index=True)

In [17]:
max_str_len = db_final['tconst'].fillna('').map(len).max()

In [18]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_genres['tconst'].fillna('').map(len).max()
title_len = db_final['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [19]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154505 entries, 0 to 82665
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   tconst    154505 non-null  object
 1   genre_id  154505 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.5+ MB

In [20]:

## Calculate max string lengths for object columns
key_genres = title_genres['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
title_genres_schema = {
    "tconst": String(key_genres+1), 
    'genre_id':Integer()}

In [21]:

## Calculate max string lengths for object columns
key_rating = df_rating['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_rating_schema = {
    "tconst": String(key_rating+1), 
    'averageRating':Float(),
    'numVotes':Integer()}

In [22]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477222 entries, 0 to 477221
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         477222 non-null  object
 1   averageRating  477222 non-null  float64
 2   numVotes       477222 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.9+ MB

In [23]:
## loading my sql credentials
with open('/Users/pinl/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [24]:
# create sqlite engine
## creating connection to database with sqlalchemy
from urllib.parse import quote_plus as urlquote
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movies"
engine = create_engine(connection)

In [25]:
## check if database exists, if not, create it.
if database_exists(connection):
    print('It exists')
else:
    create_database(connection)
    print('Database created!')

It exists

In [26]:
# Save to sql with dtype and index=False
db_final.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)
df_rating.to_sql('title_ratings',engine,dtype=df_rating_schema,if_exists='replace',index=False)
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',index=False)
genre_lookup.set_index('Genre_ID').to_sql('genres',engine,if_exists='replace',index=True)
df.to_sql('tmdb_data',engine,if_exists='replace',index=True)

384

In [27]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [28]:
## checking if tables created
q = '''SHOW TABLES;'''
pd.read_sql(q,engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4        tmdb_data